@model oef7.Model.Inschrijving

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inschrijving</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cursus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cursus.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cursist)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cursist.Achternaam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.punten)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.punten)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
